body {
  margin: 0;
  /* background: #EEE2DC; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color:#a86c4e !important;
}

#root {
  height: 100vh;
}